@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

#menu-d .mbr-brand__name {
  font-size: 16px;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-h .mbr-header__text {
  color: #ffffff;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 60px;
}
#msg-box4-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-h .mbr-article {
  color: #ffffff;
}
#contacts1-m DIV {
  color: #ffffff;
}
#social-buttons2-s .mbr-header__text {
  color: #ffffff;
}
#footer1-t B {
  font-size: 16px;
}
#footer1-t P {
  color: #ffffff;
  text-align: center;
}

#menu-u .mbr-brand__name {
  font-size: 16px;
}
#menu-u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-u .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-u .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-v .mbr-header__text {
  color: #ffffff;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#msg-box4-v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-v .mbr-article {
  color: #ffffff;
}
#msg-box5-w .mbr-header__text {
  color: #ffffff;
}
#msg-box5-w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-w .mbr-article {
  color: #ffffff;
}
#contacts1-y DIV {
  color: #ffffff;
}
